[submodule "RNG Game/counter"]
	path = RNG Game/counter
	url = https://github.com/EllyAster/counter
[submodule "RNG Game/Guessing-Game"]
	path = RNG Game/Guessing-Game
	url = https://github.com/EllyAster/Guessing-Game
[submodule "RNG Game/hello_cargo"]
	path = RNG Game/hello_cargo
	url = https://github.com/EllyAster/hello_cargo
[submodule "rustlings"]
	path = rustlings
	url = https://github.com/EllyAster/rustlings
[submodule "hello-anchor"]
	path = hello-anchor
	url = https://github.com/EllyAster/hello-anchor
